__pycache__/
*.py[cod]

.ipynb_checkpoints/
.vscode/
forms-venv
.venv
doc/_build
# Jupyter Widget
node_modules/
dist/
static/
*.egg-info*
build/
.DS_Store
.idea/
tests/.coverage
tests/coverage.xml
# dask
dask-worker-space/
.ipynb
# large spreadsheet
*10M.csv

#temp files
~$*
